<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- BOOTSTRAP -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel = "stylesheet" href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/lab.css}" />
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script th:src="@{js/lab89.js}"></script>
        <title>CV</title>
    </head>

    <body>
        <br>
        <div class="loader"></div>
        <div class="bodypage" style="display: none;">
            <div class = "container-fluid">
                <h1 style="text-align: center"th:text="${ greeting}"></h1>
                <div class = "row">
                    <div class = "col-sm-4">
                        <p style = "width : 100%; height : 3vw"></p>
                        <div class = "row">
                            <div class = "col-sm-1"></div>
                            <div class = "col-sm-9">
                                <img th:src = "@{img/foto.jpg}" class = "img-fluid" alt = "Alfian Fuadi Rafli">
                            </div>
                        </div>

                        <p style = "width : 100%; height : 2.7vw"></p>
                        <div class = "row">
                            <div class = "col-sm-1"></div>
                            <div class = "col-sm-9">
                                <a class="btn btn-primary btn-blocks btn-lg text-center" href = "https://drive.google.com/open?id=1urjl_SCXYwEWZyZgeNEgqi626AZD75l9" role="button" style = "width : 100%; font-size : 25; font-family : Consolas">UNDUH CV</a>
                            </div>
                        </div>
                    </div>


                    <div class = "col-sm-8">
                        <div class = "ml-1">
                            <p style = "width : 80%; height : 2.5vw"></p>
                            <h3 style = "font-family : Consolas">ALFIAN FUADI RAFLI </h3>
                            <p style = "font-size : 25; font-family : Consolas">
                            <br>Umur : 19
                            <br>Alamat : Jl. Ambengan Batu II/31 Surabaya
                            <br>No. Telefon : 082323779646
                            <br>Email : alfianfuadi17@gmail.com
                            <br>Website : alfianfuadi17.herokuapp.
                            <br>Education:
                            <br>- SD Ta'miriyah Surabaya
                            <br>- SMP N SBBS Sragen
                            <br>- SMA N SBBS Sragen
                            <br>- Fasilkom UI
                            <br>Description:
                            <br>A simple person with no music. I love doing sport especially running and table tennis.
                                And the last and the important one, I eager to be great programmer.
                                I hope I can do the best at the end.
                            <p style = "width : 80%; height : 7.5vw"></p>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <br>
        </div>
    </body>
</html>